ansicon==1.89.0
appdirs==1.4.4
blessed==1.19.1
certifi==2021.10.8
colorama==0.4.4
flyingcircus==0.1.4.0
jinxed==1.1.0
numpy==1.22.3
pickleshare==0.7.5
pygame==2.1.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PyQt5Designer==5.14.1
pytk==0.0.2.1
pytz==2021.3
setuptools-scm==6.4.2
tk==0.1.0
tomli==2.0.1
tqdm==4.64.0
wcwidth==0.2.5
wincertstore==0.2
